a {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
a:hover {
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
}
.card-name {
  color: rgb(207, 69, 69);
  font-weight: bold;
}
.card-description {
  color: black;
}

.card-price {
  color: red;
}

/* CSS shopping cart */
.gradient-custom {
  background: #6a11cb;

  background: -webkit-linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );

  background: linear-gradient(
    to right,
    rgba(106, 17, 203, 1),
    rgba(37, 117, 252, 1)
  );
}

.pagination {
  width: 100%;
}
.item-center {
  margin: 0 auto;
  width: max-content;
  padding: 30px;
  font-weight: bold;
}

.gradient-custom {
  /* fallback for old browsers */
  background: #cd9cf2;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to top left,
    rgba(205, 156, 242, 1),
    rgba(246, 243, 255, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to top left,
    rgba(205, 156, 242, 1),
    rgba(246, 243, 255, 1)
  );
}
